In [2]:
import pandas as pd
import numpy as np

In [3]:
x='adult.data.csv'

df = pd.read_csv(x)

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
series_race=df.groupby('race')['race']



series_race.count()

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race, dtype: int64

In [161]:
age=df[df['sex']=='Male']
avg_man_age=age['age'].sum()/age['age'].count()

print("The average age of men is",avg_man_age,"years")

The average age of men is 39.43354749885268 years

In [158]:
bachelor= df[df['education']=='Bachelors'].count()/df['education'].count()*100

print("The percentage of people who have a Bachelor's degree is",bachelor['education'],'%')

The percentage of people who have a Bachelor's degree is 16.44605509658794 %

In [154]:
advanced_edu = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
advanced_edu_perc=advanced_edu[advanced_edu['salary'] == '>50K'].count()/advanced_edu.count()*100


print('The percentage of people with advanced education that make more than 50K is',advanced_edu_perc['education'],'%')

The percentage of people with advanced education that make more than 50K is 46.535843011613935 %

In [153]:
lower_edu=df[(~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']))]

lower_edu_perc=lower_edu[lower_edu['salary'] == '>50K'].count()/lower_edu.count()*100

print('The percentage of people without advanced education make more than 50K is',lower_edu_perc['education'],'%')

The percentage of people without advanced education make more than 50K is 17.3713601914639 %

In [151]:
min_hours_week=df['hours-per-week']
min_hours_week_n=min_hours_week.min()
print('The minimum number of hours a person works per week is',min_hours_week_n,'h per week')

The minimum number of hours a person works per week is 1 h per week

In [147]:
ppl_1h_50k=df[(df['hours-per-week']==min_hours_week_n)&(df['salary']=='>50K')]
perct=ppl_1h_50k.count()/df[df['hours-per-week']==min_hours_week_n].count()*100


print('percentage of the people who work the minimum number of hours per week have a salary of more than 50K is',perct['salary'],'%')

percentage of the people who work the minimum number of hours per week have a salary of more than 50K is 10.0 %

In [162]:
countries_hgh_slry= df[df['salary']=='>50K'].groupby('native-country')
chs=countries_hgh_slry.count().sort_values('salary',ascending=False)

perctt=chs.iloc[0]/df[df['salary']=='>50K'].count()*100

print('The country with the highest percentage of people that earn >50K is The',chs.iloc[0].name,'with a percentage of :',perctt['salary'],'%')

The country with the highest percentage of people that earn >50K is The United-States with a percentage of : 91.45517153424308 %

In [175]:
chs.loc['India']

age               40
workclass         40
fnlwgt            40
education         40
education-num     40
marital-status    40
occupation        40
relationship      40
race              40
sex               40
capital-gain      40
capital-loss      40
hours-per-week    40
salary            40
Name: India, dtype: int64